body {
  background :url('img/bg-in-game.png') no-repeat;
  background-size: cover;
}

.menu {
  max-width: 800px;
  /* ajustez la valeur selon vos préférences */
  margin-left: auto;
  margin-right: auto;
}

.menu .menu-title {
  color: aliceblue;
  font-size: 60px;
}

.menu-button{
  margin-left: 40%;
}

/* animation for title */
.textanime{
  margin-top: 100px;
}
.textanime h1 {
  text-align: center;
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 20% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
/* animation for title end */

.formGame{
  margin-left: 15%;
}
.menu .name {
  color: aliceblue;
  font-size: 25px;
  font-weight: bold;
}

/* GENERAL STYLE FOR BUTTON */
button {
  font-size: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 200px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 0px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow,transform ;
  transition-property: box-shadow,transform;
  }
.button:hover, .button:focus, .button:active{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* GENERAL STYLE BUTTON END */
#start-button{
  margin-left: 10px;
}
.button1 {
  align-items: center;
}
.input1 {
  width: 200px;
  height: 30px;
}

.descriptif {
  border-radius: 20px;
  padding: 20px;
  background-color: lightgray;
  margin-left: 20%;
  /* text-align: center; */
  color:  black;
  font-size: 20px;
  width: fit-content;
}

.descriptif-title{
  text-align: center;
  font-size: 40px;
  color: aliceblue;
}

.para {
  border-radius: 20px;
  padding: 20px;
  background-color: lightgray;
  margin-left: 20%;
  /* text-align: center; */
  color:  black;
  font-size: 20px;
  width: fit-content;
}
#paragraph{
  color: black;
  font-size: 20px;
}

.bg-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.leaderboard {
  background-image: url('background.jpg');
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.score-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.score-card.gold {
  background-color: #eecd0f;
}

.score-card.silver {
  background-color: #C0C0C0;
}

.score-card.bronze {
  background-color: #cd7f32;
}

.medal {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f98f0e;
  margin-right: 10px;
}

.medal i {
  color: white;
  font-size: 30px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.score {
  font-size: 18px;
}

.close-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FFD700;
  color: white;
  border: none;
  cursor: pointer;
}

.leaderboard-container {
  max-width: 800px;
  /* ajustez la valeur selon vos préférences */
  margin: 0 auto;
  /* centrer la div horizontalement */
}
a{
  text-decoration: none;
  color: white;
}