body {
  background :url('img/bg-in-game.png') no-repeat;
  background-size: cover;
}

.menu {
  max-width: 800px;
  /* ajustez la valeur selon vos préférences */
  margin: 0 auto; 
}

.menu .menu-title {
  color: aliceblue;
  font-size: 60px;
}
.name {
  color: aliceblue;
  font-size: 50px;
  font-weight: bold;
}
button {
  font-size: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.button1 {
  align-items: center;
}
.input1 {
  width: 200px;
  height: 30px;
}

.descriptif {
  text-align: center;
  color:  aliceblue;
  font-size: 30px;
}

.bg-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.leaderboard {
  background-image: url('background.jpg');
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.score-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.score-card.gold {
  background-color: #eecd0f;
}

.score-card.silver {
  background-color: #C0C0C0;
}

.score-card.bronze {
  background-color: #cd7f32;
}

.medal {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f98f0e;
  margin-right: 10px;
}

.medal i {
  color: white;
  font-size: 30px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.score {
  font-size: 18px;
}

.close-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FFD700;
  color: white;
  border: none;
  cursor: pointer;
}

.leaderboard-container {
  max-width: 800px;
  /* ajustez la valeur selon vos préférences */
  margin: 0 auto;
  /* centrer la div horizontalement */
}
a{
  text-decoration: none;
  color: white;
}